.flashcard {
  min-height: 200px;
  max-width: 80vw;
  margin: 10px auto;
  
  line-height: 30px;
  padding-left:5px;

  border: 1px solid rgba( 100, 100, 100, 0.25);

  background-position: 0 25px;
  background-size: 20px 30px;
  background-image:
  linear-gradient(to right, #fff 5px, transparent 1px),
  linear-gradient( rgba(50, 200, 200, 0.5) 1px, transparent 1px);
  
  position: relative;
}

.flashcard::after {
  content: '';
  position: absolute;
  left: 7%;
  top: 0;
  bottom: 0;
  
  border-left: 2px solid red;
}

.flashcard .prompt {
  margin-top: 85px;
}
